
p {
	background-color:#3498db;
	font-size: 20px;
	text-align: center;


}



h1{

		text-align: center;
	
}





.panel{
	background-color:white;

}

.panel-default{
	background-color:white;
}

.panel-body{
	background-color:#3498db;
}

.button{
	color:white;
	font-size: 15px;

	margin: 60px;


}
.button_1{
	color:white;
	font-size:10px;
}

.jumbo{
	background-color: #3498db;
	text-align: center;
	display: block;
	color:white;

	

}















// app.scss
@import "ember-bootstrap/bootstrap";