

p {
	background-color:#3498db;
	font-size: 20px;
	text-align: center;
}

.jumbo{
	background-color: #3498db;
	text-align: center;
	display: block;
	

}

h1{

		text-align: center;
	
}



h3{
		text-align: center;

}















// app.scss
@import "ember-bootstrap/bootstrap";