<div class="jumbo">
  <div class="right tomster"></div>
  <h2>This is going to be my About Me page in the future</h2>
  <body>
    <p>
      This is going to be my attempt to slowly build an ember app and see where it goes and put it in my portfolio when i'm done. Let's dooo it.
    </p>
  </body>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>
{{outlet}}