<div class="jumbo col-md-4">
  <div class="container">
    <div class="menu">
      {{#link-to "index" class="button"}}
        <h1>
          Fil
        </h1>
      {{/link-to}}





  <div class="jumbo">
    
   {{#link-to "about" class="button"}}About{{/link-to}}
    </div>
    <br>
    <div>
   {{#link-to "contact" class="button"}}Contact{{/link-to}}
    </div>
    <br>
    <div>
   {{#link-to "languages" class="button"}}Languages{{/link-to}}
    <br>
    <div>
    <br>
   {{#link-to "social" class="button"}}Social{{/link-to}}
     <div>
    <br>
   {{#link-to "projects" class="button"}}Projects{{/link-to}}
   <br>
   <br>
  

  </div>
  </div> 
  </div>
  </div>
  </div>
  </div>


{{outlet}}