

<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Filip Tatarnik</h2>
  <body>
    <p>I would love to get to know my clients better and build a relationship that'll allow us to work on your projects much more fluid</p>
  </body>
  <p>
    Super Rentals HQ
    <address>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </address>
    <a href="tel:111.111.1111">+1 (630) 433-6299</a><br>
    <a href="mailto:ftatarnik@gmail.com">ftatarnik@gmail.com</a>
  </p>
  {{#link-to "rentals" class="button"}}
  Home
  {{/link-to}}
</div>
{{outlet}}

