<div class="jumbo">
  <div class="right tomster"></div>
	  <h2>Welcome!</h2>
	  	<body>
	  		<p>We hope you find exactly what you're looking for in a place to stay.</p>
	  	</body>
  {{#link-to "social" class="button_1"}}
    Social Media footer placeholder
  {{/link-to}}
</div>

{{liquid-outlet}}