<div class="jumbo">
  <div class="right tomster"></div>
  <h2>This is a placeholder for my the titles of my projects</h2>
  <body>
    <p>
      This is a placeholder for where an image of a project and link would be. Maybe a larger carousel that slowly revolves my projects around for the user to see with out having to do anyhting.
    </p>
  </body>
  {{#link-to "rentals" class="button"}}
    Home
  {{/link-to}}
</div>





{{outlet}}