<div class="jumbo">

  <div class="right tomster"></div>

  <h2>This is the Home Page for my ember app portfolio</h2>
  	<body>
	  <p>This is going to be where classic Portfolio Home Page stuff goes. like randomly generated projects of mine that cycle through somewhere on the page, social media links at the bottom, also a contact button to get to the contact me page. </p>
	</body>
  {{#link-to "contact" class="button_1"}}
    Social Media footer placeholder
  {{/link-to}}

</div>
{{outlet}}