<div class="jumbo">
  <div class="right tomster"></div>
  <h2>This is it</h2>
  <p>We hope you find exactly what you're looking for</p>
  {{#link-to "contact" class="button"}}
    Social Media footer placeholder
  {{/link-to}}
</div>
{{outlet}}