<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Social Medias and how to find me</h2>
  <body>
    <p>
      This is a temp placeholder on where the neat links to my social media accounts should be.
    </p>
  </body>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>





{{liquid-outlet}}